<section class="post-form">
 <div class="container">
    <div class="row justify-content-md-center">
    <h1 class="post-header text-center"> Signup </h1>
    <div class ="col-sm-8 ">
          <%= render 'form' %>
    </div>
     </div>
 </div>
</section>
